

.table-striped>tbody>tr{
  color: #538135;
 }

.table-striped>tbody>tr>td, .table-striped>tbody>tr>th{
  padding-right: 20px;
  border: 1px solid green;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #e2efd9;   
 }






